html {
    height: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
}

body {
    height: 100%;
    font-size: x-large;
    background-color: #111;
    font-weight: bold;
}

.container {
    padding-top: 2vw;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.red-alliance {
    background-color: #900;
}

.blue-alliance {
    background-color: #009;
}

.match-info {
    font-size: 2vw;
}

.scoring-section {
    margin-bottom: 0.5vw;
    display: flex;
    font-size: 1.5vw;
    color: #ccc;
}

.scoring-header {
    width: 25vw;
    margin: 0.4vw 1vw 0.4vw 0.2vw;
}

.robot-field {
    width: 17vw;
    height: 2.5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.4vw 0.2vw;
}

.boolean[data-value="false"] {
    background-color: #333;
}

.boolean[data-value="true"] {
    background-color: #263;
}

.taxi-status {
    width: 10vw;
}

.taxi-status[data-value="0"] {
    background-color: #333;
}

.taxi-status[data-value="1"] {
    background-color: #aa0;
}

.taxi-status[data-value="2"] {
    background-color: #263;
}

.section-header {
    height: 5vw;
    width: 10vw;
    margin: 0.4vw 0.4vw;
    color: #888;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.plus {
    background: #263;
    width: 20px;
    border-radius: 0.75vw;
}

.minus {
    background: #633;
    width: 20px;
    border-radius: 0.75vw;
}

#instructions {
    margin-top: 0.3vw;
}

#team {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

