{{define "title"}}Head Ref{{end}}
{{define "head"}}
  <link href="/static/css/headref_display.css" rel="stylesheet">
{{end}}
{{define "body"}}
<legend>Head Ref</legend>
<div class="match-info">
  <span id="matchName">&nbsp;</span>
  <span id="matchState">&nbsp;</span>
  <span id="matchTime">&nbsp;</span>
  <span id="matchScore">&nbsp;</span>
</div>

<table class="scoring-section">
  <tr>
    <td class="well-red red-text">
      <span>Red Alliance</span>
      <span id="redScore">0</span>
    </td>
    <td class="well-blue blue-text">
      <span>Blue Alliance</span>
      <span id="blueScore">0</span>
    </td>
  </tr>
  <tr>
    {{range $a := $.Alliances}}
    <td>
      <table>
        <tr>
          <td id="{{$a}}Taxi1" class="taxi-status" data-value="0" onclick="toggleTaxi({{$a}}Taxi1); patchScore(getTaxi('{{$a}}'));">Taxi 1</td>
          <td id="{{$a}}Taxi2" class="taxi-status" data-value="0" onclick="toggleTaxi({{$a}}Taxi2); patchScore(getTaxi('{{$a}}'));">Taxi 2</td>
        </tr>
        <tr>
          <td colspan="3">Shelf</td>
        </tr>
        {{range $s := $.ShelfLocations}}
        <tr>
          <td>{{$s}}</td>
          <td id="{{$a}}{{$s}}">0</td>
          <td class="minus" onclick="decrementScore({{$a}}{{$s}}); patchScore(getShelf('{{$a}}'));">-</td>
          <td class="plus" onclick="incrementScore({{$a}}{{$s}}); patchScore(getShelf('{{$a}}'));">+</td>
        </tr>
        {{end}}
        <tr>
          <td id="{{$a}}GoldenCube" class="boolean" data-value="false"
              onclick="toggleBoolean({{$a}}GoldenCube); patchScore(getGoldenCube('{{$a}}'));">Golden Cube</td>
        </tr>
        <tr>
          <td>Hamper</td>
          <td id="{{$a}}Hamper">0</td>
          <td class="minus" onclick="decrementScore({{$a}}Hamper); patchScore(getHamper('{{$a}}'));">-</td>
          <td class="plus" onclick="incrementScore({{$a}}Hamper); patchScore(getHamper('{{$a}}'));">+</td>
        </tr>
        <tr>
          <td id="{{$a}}Park1" class="boolean" data-value="false" onclick="toggleBoolean({{$a}}Park1); patchScore(getPark('{{$a}}'));">Park 1</td>
          <td id="{{$a}}Park2" class="boolean" data-value="false" onclick="toggleBoolean({{$a}}Park2); patchScore(getPark('{{$a}}'));">Park 2</td>
        </tr>
        <tr>
          <td>Fouls</td>
          <td id="{{$a}}Foul">0</td>
          <td class="minus" onclick="decrementScore({{$a}}Foul); patchScore(getFoul('{{$a}}'));">-</td>
          <td class="plus" onclick="incrementScore({{$a}}Foul); patchScore(getFoul('{{$a}}'));">+</td>
        </tr>
        <tr>
          <td>Tech Fouls</td>
          <td id="{{$a}}TechFoul">0</td>
          <td class="minus" onclick="decrementScore({{$a}}TechFoul); patchScore(getTechFoul('{{$a}}'));">-</td>
          <td class="plus" onclick="incrementScore({{$a}}TechFoul); patchScore(getTechFoul('{{$a}}')) ;">+</td>
        </tr>
      </table>
    </td>
    {{end}}
  </tr>
</div>
{{end}}

{{define "script"}}
<script src="/static/js/match_timing.js"></script>
<script src="/static/js/headref_display.js"></script>

<script>
  var toggleTaxi = function(id) {
    $(id).attr("data-value", ($(id).attr("data-value") + 1)  % 3);
  }

  var decrementScore = function(id) {
    var curValue = parseInt($(id).text());
    $(id).text(Math.max(curValue - 1, 0));
  }

  var incrementScore = function(id) {
    var curValue = parseInt($(id).text());
    $(id).text(curValue + 1);
  }

  var toggleBoolean = function(id) {
    $(id).attr("data-value", $(id).attr("data-value") != "true");
  }

  var parseBoolean = function(text) {
    return text != undefined && text === "true";
  }

  var getTaxi = function(alliance) {
    var taxi1 = parseInt($("#" + alliance + "Taxi1").attr("data-value"));
    var taxi2 = parseInt($("#" + alliance + "Taxi2").attr("data-value"));

    var score = {};
    score.taxi = [ taxi1, taxi2 ];
    return { [alliance]: score };
  }

  var getShelf = function(alliance) {
    var autonBottom = parseInt($("#" + alliance + "AutonBottom").text());
    var autonTop = parseInt($("#" + alliance + "AutonTop").text());
    var teleopBottom = parseInt($("#" + alliance + "TeleopBottom").text());
    var teleopTop = parseInt($("#" + alliance + "TeleopTop").text());

    var score = {};
    score.shelf = {
      "auton_bottom": autonBottom,
      "auton_top": autonTop,
      "teleop_bottom": teleopBottom,
      "teleop_top": teleopTop,
    }
    return { [alliance]: score };
  }

  var getGoldenCube = function(alliance) {
    var goldenCube = parseBoolean($("#" + alliance + "GoldenCube").attr("data-value"));

    var score = {};
    score.golden_cube = goldenCube;
    return { [alliance]: score };
  }

  var getHamper = function(alliance) {
    var hamper = parseInt($("#" + alliance + "Hamper").text());
    var score = {};
    score.hamper = hamper;
    return { [alliance]: score };
  }

  var getPark = function(alliance) {
    var park1 = parseBoolean($("#" + alliance + "Park1").attr("data-value"));
    var park2 = parseBoolean($("#" + alliance + "Park2").attr("data-value"));

    var score = {};
    score.park = [ park1, park2 ];
    return { [alliance]: score };
  }

  var getFoul = function(alliance) {
    var foul = parseInt($("#" + alliance + "Foul").text());
    var score = {};
    score.foul = foul;
    return { [alliance]: score };
  }

  var getTechFoul = function(alliance) {
    var techFoul = parseInt($("#" + alliance + "TechFoul").text());
    var score = {};
    score.tech_foul = techFoul;
    return { [alliance]: score };
  }

  var patchScore = function(score) {
    fetch('/api/scores', {
      method: 'PATCH',
      body: JSON.stringify(score),
    });
    // TODO: add error handling
  }
</script>
{{end}}
