{{define "title"}}Ref Match {{.Match.DisplayName}} | {{.Alliance}} Alliance{{end}}
{{define "head"}}{{end}}
{{define "body"}}
<legend>Ref Match {{.Match.DisplayName}} | {{.Alliance}} Alliance</legend>
<div class="well">
  <span id="matchState" class="well-sm text-center">NOT STARTED</span>
  <span id="matchTime" class="well-sm text-center">0</span>
  <span id="matchScore" class="well-sm text-center">0</span>
</div>
<div class="well">
  <div class="well">
    <label>Taxi</label>
    <div>
      <span>Taxi 1</span>
      <span id="taxi1">0</span>
    </div>
    <div>
      <span>Taxi 2</span>
      <span id="taxi2">0</span>
    </div>
  </div>
  <div class="well">
    <label>Shelf</label>
    <div>
      <div>
        <span>-</span>
        <span class="text-left">AutonBottom</span>
        <span>+</span>
        <span id="auton_bottom">0</span>
      </div>
      <div>
        <span>-</span>
        <span class="text-left">AutonTop</span>
        <span>+</span>
        <span id="auton_top">0</span>
      </div>
      <div>
        <span>-</span>
        <span class="text-left">TeleopBottom</span>
        <span>+</span>
        <span id="teleop_bottom">0</span>
      </div>
      <div>
        <span>-</span>
        <span class="text-left">TeleopTop</span>
        <span>+</span>
        <span id="teleop_top">0</span>
      </div>
      <div id="golden_cube">Golden Cube</div>
    </div>
  </div>
  <div class="well">
    <label>Endgame</label>
    <div>
      <span>-</span>
      <span class="text-left">Hamper</span>
      <span>+</span>
      <span id="hamper">0</span>
    </div>
      <div>
        <label>Park</label>
        <br/>
        <span>Park 1</span>
        <span>Park 2</span>
      </div>  
    </div>
  </div>
{{end}}
{{define "script"}}
{{end}}
